header{
    width: 98..05%;
    height: 50px;
    padding: 15px;
    padding-top: 30px;
    font-style: bold;
text-align: center;
transition: 2s;
}
a.nav-link-active {
    color: rgb(255, 119, 0);
  }
.line{
    text-align: center;
    width:75%;
    background-color: #242847;
    border: 5px;
    min-height:2px;
    margin-left: 200px;
}
header a{
   
    margin-left: 30px;
    text-decoration: none;
    font-size: ;
    color: rgb(12, 86, 98);
    font-weight:bold;
    
}
header a:hover{
    color:rgb(151, 151, 123);
    stroke: #242847;
    transform: scale(1.2);
}