.c1{width: 33%;
float: left;
min-height: 800px;}
.c2{width: 33%;
    float: left;
min-height: 800px;}
.c3{width: 33%;
    float: left;
min-height: 800px;}
.careerPage{
    min-height: 900px;
    width: 100%;
}